:root{
    font-size: 16px;
}
html{
    scroll-behavior:smooth;
}
body{
    margin: auto;
}
*{
    box-sizing: border-box;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: italic;
}
h1,button,h2,a{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
}


// Variables
$color-main: #fff;
$color-secondary: #f1f1f1;
$color-highlight: #e53247;
$color-text-gray: #808080;
$color-text-dark: #333131;
$color-text-darkest: #282727;

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $color-text-gray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $color-text-gray;
  }

.skill-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 1rem;
}
.skill h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.skill {
	margin-bottom: 2rem;
}
.skill {
	background-color: $color-secondary;
	width: 45%;
	margin: 0.5rem;
	padding: 2rem;
	p {
		margin-top: 0;
	}
	h4 {
		margin-top: 1rem;
		margin-bottom: 0;
	}
}
.textskill {
	padding: 1rem 1rem 0.5rem 1rem;
	background-color: $color-secondary;
	width: 210px;
	margin: 0.5rem;
}
.grayfilter {
	filter: grayscale(100%); /* IE6-9 */
	transition-duration: 0.2s;
	&:hover {
		filter: none;
		transition-duration: 0.2s;
	}
}
.skill-wrapper img,
.servicios-wrapper img,
.contact-subgroup img {
	max-width: 65px;
}


.cv{
	margin-bottom: 3rem;
	margin-top: 3rem;
}
@media only screen and (min-width: 576px) and (max-width: 1199px) {
	
	.servicios-wrapper,
	.skill-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.skill-wrapper {
		justify-content: center;
	}
	.skill{
        width: 210px;
    }
}
@media only screen and (min-width: 1200px) {
	.fswrapper {
		width: 1170px;
		margin: auto;
	}
    .skill{
        width: 210px;
    }
	.skill-wrapper {
		flex-direction: row;
		justify-content: space-between;
	}
	
	.tab {
		flex-direction: row;
		justify-content: center;
		margin-top: 2rem;
	}
	
	.skill-wrapper {
		justify-content: center;
	}
	.skill:first-of-type,
	.text-skill:first-of-type {
		margin-left: 0;
	}
	.skill:last-of-type,
	.text-skill:last-of-type {
		margin-right: 0;
	}
	.skill:hover {
		cursor: pointer;
	}
}